[submodule "src/contrib/jsonsl"]
	path = src/contrib/jsonsl
	url = git://github.com/mnunberg/jsonsl.git
[submodule "src/contrib/cliopts"]
	path = src/contrib/cliopts
	url = git://github.com/mnunberg/cliopts.git
