.idea/*
sdkd_lcb
CMakeCache.txt
Makefile
*.cbp
*.pyc
*.o
portinfo.txt
cplusplus/main
[Oo]bj/
[Bb]in/
*.suo
*.user
/TestResults
*.vspscc
*.vssscc
*.vsmdi
*.vs*
*.testsettings
*.sln.docstates
pylib/pkgcache
*.exe
*.pdb
*.lib
*.manifest
*.swp
*.dll
CMakeFiles/*
*/CMakeFiles/*
cmake_install.cmake
build
cmake-build-debug